{% extends 'base-home.html'%}
{% block content %}
<br>
<div class="content__profile mt-5" style="overflow-x: hidden; background-color:  #dee5ec;">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-12">
        <div class="contaiinert">
          <div class="d-flex flex-column flex-shrink-0 bg-white flex__contaiinert" style="width: fit-content; margin: 10px 0; height: 90vh; position: fixed;
            padding: 15px 5px; box-shadow: 10px 0 4px -2px #d8e1e9; font-size: 16px; color: gray; border-radius: 20px;">
            <ul class="nav nav-pills flex-column mb-auto">
              <li>
                <a href="#" class="nav-link link-dark hint--right w-100" aria-label="Todos los Tickets" style="margin: 0px 0 -10px 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" 
                    style="fill: rgb(163, 163, 163);transform: ;msFilter:;">
                    <path d="M5 22h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2h-2a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1H5c-1.103 0-2 .897-2 2v15c0 1.103.897 2 2 2zM5 5h2v2h10V5h2v15H5V5z"></path>
                    <path d="m11 13.586-1.793-1.793-1.414 1.414L11 16.414l5.207-5.207-1.414-1.414z"></path>
                  </svg>
                  Todos los Tickets
                </a>
                <hr>
              </li>
              <li>
                <a href="#" class="nav-link link-dark hint--right w-100" aria-label="Mis Tickets" style="margin: -10px 0 -10px 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" 
                    style="fill: rgb(163, 163, 163);transform: ;msFilter:;">
                    <path d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm-7.933 13.481-3.774-3.774 1.414-1.414 2.226 2.226 4.299-5.159 1.537 1.28-5.702 6.841z"></path>
                  </svg>    
                  Mis Tickets              
                </a>
                <hr>
              </li>
              <li>
                <a href="#" class="nav-link link-dark hint--right w-100" aria-label="Mis Proyectos" style="margin: -10px 0 -10px 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" 
                    style="fill: rgb(163, 163, 163);transform: ;msFilter:;">
                    <path d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm5 2h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm1-6h4v4h-4V5zM3 20a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6zm2-5h4v4H5v-4zm8 5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6zm2-5h4v4h-4v-4z"></path>
                  </svg>
                  Mis Proyectos
                </a>
                <hr>
              </li>
              <li>
                <a href="#" class="nav-link link-dark hint--right w-100" aria-label="Mis Reportes" style="margin: -10px 0 -10px 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" 
                    style="fill: rgb(163, 163, 163);transform: ;msFilter:;">
                    <path d="m20 8-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8zM9 19H7v-9h2v9zm4 0h-2v-6h2v6zm4 0h-2v-3h2v3zM14 9h-1V4l5 5h-4z"></path>
                  </svg>
                  Mis Reportes
                </a>
                <hr>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-12">
        <div class="container bg-white" style="border-radius: 20px; margin: 10px 0; box-shadow: 10px 0 4px -2px #d8e1e9; padding-bottom: 10px;">
          <main>
            <div class="py-5 text-center">
              <img class="d-block mx-auto mb-4" src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="" width="72" height="57">
              <h2>Lista de Tareas y Reporte a Cliente</h2>
              <p class="lead">Reporte de actividades realizadas al Cliente y RPS.</p>
              <p class="lead" style="margin-top: -15px; font-size: 17px;"><span style="color: red;">*</span> Es obligatorio completar todos los campos <span style="color: red;">*</span></p>
            </div>
        
            <div class="row g-5">
              <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Lista de Tareas</span>
                  <span class="badge bg-primary rounded-pill">1</span>
                </h4>
                <div class="list-group mx-0 sticky-top">
                  <form action="" method="POST">
                    <label class="list-group-item d-flex gap-2">
                      <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="">
                      <span>
                          Fiscalizar rutas de emergencia
                          <small class="d-block text-muted">Controlar, asesorar y reportar estados de las vías de emergencia</small>
                      </span>
                      <a class="hint--bottom" aria-label="detalles de esta tarea" href="" style="height: fit-content;">
                        <i class='bx bx-info-circle' ></i>
                      </a>
                    </label>
                    <button class="w-100 btn btn-primary btn-md mt-2 p-2" type="submit" style="font-size: 14px;">Guardar cambios</button>
                  </form>
                </div>


              </div>
              <div class="col-md-7 col-lg-8">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Plantilla Reporte a Cliente</span>
                </h4>
                <form class="needs-validation" novalidate="">
                  <div class="row g-3">
                    <div class="col-sm-6">
                      <label for="firstName" class="form-label">Primer Nombre</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label for="firstName" class="form-label">Segundo Nombre</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                    </div>
        
                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Apellido Paterno</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid last name is required.
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Apellido Materno</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid last name is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">RUT <span class="text-muted">(sin puntos y con guión)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="(12345678-9)">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="email" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="address" class="form-label">Dirección Asesor</label>
                      <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                      <div class="invalid-feedback">
                        Please enter your shipping address.
                      </div>
                    </div>
        
                    <div class="col-12">
                      <label for="address2" class="form-label">Dirección 2 Asesor <span class="text-muted">(Opcional)</span></label>
                      <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>
        
                    <div class="col-md-5">
                      <label for="country" class="form-label">Ciudad</label>
                      <select class="form-select" id="country" required="">
                        <option value="">Seleccionar...</option>
                        <option>Santiago</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <label for="state" class="form-label">Comuna</label>
                      <select class="form-select" id="state" required="">
                        <option value="">Seleccionar...</option>
                        <option>Maipú</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>
                    </div>
        
                    <div class="col-md-3">
                      <label for="zip" class="form-label">Código Postal</label>
                      <input type="text" class="form-control" id="zip" placeholder="" required="">
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
                    </div>
                  </div>
        
                  <hr class="my-4">

                  <div class="row g-3">

                    <div class="col-sm-6">
                      <label for="firstName" class="form-label">Nombre Supervisor</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                    </div>
        
                    <div class="col-sm-6">
                      <label for="lastName" class="form-label">Apellidos Supervisor</label>
                      <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                      <div class="invalid-feedback">
                        Valid last name is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">RUT <span class="text-muted">(sin puntos y con guión)</span></label>
                      <input type="email" class="form-control" id="email" placeholder="(12345678-9)">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" id="email" placeholder="you@example.com">
                      <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                      </div>
                    </div>

                  </div>
                  
                  <hr class="my-4">
        
                  <label for="zip" class="form-label">Descripción detallada de asesoría</label>
                  <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" style="height: 150px;"></textarea>
                  </div>
        
                  <hr class="my-4">
        
                  <button class="w-100 btn btn-primary btn-lg" type="submit">Generar reporte</button>
                </form>
              </div>
            </div>
          </main>
        
          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 1992-2022 RPS Comapny.</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Privacy</a></li>
              <li class="list-inline-item"><a href="#">Terms</a></li>
              <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}