{% extends 'base-dashboard.html'%}
{% block content %}

<div class="modal fade" id="modalModulos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalModulosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px; padding: 25px;">
            <div class="modal-header">
                <h4 class="modal-title" id="modalModulosLabel">Actualizar Módulo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "insertModulo" %}" id="formModulo" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="idModulo" id="idModulo">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtNombreModulo" name="txtNombreModulo" placeholder="name@example.com" required>
                                <label for="floatingInput">Nombre Modulo</label>
                            </div>
                            <div class="invalid-feedback">
                                Nombre Módulo Requerido
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <textarea type="text" class="form-control" id="txtDescripcionModulo" name="txtDescripcionModulo" style="height: 150px;" placeholder="name@example.com" required></textarea>
                                <label for="floatingInput">Descripción Modulo</label>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn w-100" style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;" onclick='fntConfirmEdit()'>Actualizar
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;"
                                    data-bs-dismiss="modal">Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-3">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn" data-bs-toggle="modal" style="background: linear-gradient(to right, deepskyblue, blueviolet);
                        border: none; color: white;"
                        onclick="openModal()">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="">
                <table class="table table-bordered table-hover table-striped v_table_modules my-3" style="width: 100%;" id="v_table_modules">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllModulos' %}";
    let v_url_modulo = "{% url 'getModulo' %}";
    let v_url_enable_modulo = "{% url 'enableModulo' %}";
    let v_url_disable_modulo = "{% url 'disableModulo' %}";
    let v_url_delete_modulo = "{% url 'deleteModulo' %}";
</script>
<script>
    let tableModulos;
    $(document).ready(function () {
        tableModulos = $('#v_table_modules').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            pagingType: "full_numbers",
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "nombre_modulo"
            }, {
                "data": "descripcion_modulo"
            }, {
                "data": "status_modulo"
            }, {
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });

    function fntEditModule (id_modulo){
        var id_modulo = id_modulo;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_modulo + "?idModulo=" + id_modulo;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            $('#idModulo').val(objData[0].id_modulo);
            $('#txtNombreModulo').val(objData[0].nombre_modulo);
            $('#txtDescripcionModulo').val(objData[0].descripcion_modulo);
            $('#modalModulos').show();
        }
    }

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalModulos'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formModulo');
        myModal.show(modalToggle);
        $('#idModulo').val('');
        $('#txtNombreModulo').val('');
        $('#txtDescripcionModulo').val('');
    }

    function enableModule(id_modulo) {
        var id_modulo = id_modulo;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_enable_modulo + "?idModulo=" + id_modulo;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            const Toast = Swal.mixin({
                toast: true,
                position: 'center',
                showConfirmButton: false,
                timer: 1900,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: 'Modulo Activado!'
            })
        }
    }

    function disableModule(id_modulo) {
        var id_modulo = id_modulo;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_disable_modulo + "?idModulo=" + id_modulo;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            const Toast = Swal.mixin({
                toast: true,
                position: 'center',
                showConfirmButton: false,
                timer: 1900,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: 'Modulo Desactivado!'
            })
        }
    }

    function fntDeleteModule(id_modulo) {
        var id_modulo = id_modulo;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_delete_modulo + "?idModulo=" + id_modulo;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(id_modulo){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteModule(id_modulo);
                Swal.fire(
                    'Eliminado!',
                    'Tu elemento ha sido eliminado exitosamente',
                    'success'
                )
            }
        })
    }

    function fntConfirmEdit(){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1900,
            timerProgressBar: true,
            didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Proceso finalizado exitosamente!'
        })
    }

</script>

{% endblock %}