{% extends 'base-dashboard.html' %}
{% block content %}
<div class="modal fade" id="modalEditSolicitud" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalSolicitudessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 13px; padding: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSolicitudesLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "updateSolicitud" %}" id="formSolicitud" class="needs-validation" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="idSolicitud" id="idSolicitud">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="fechaSolicitud" class="form-label">Fecha</label>
                            <input class="form-control" type="date" name="txtFecha" id="txtFecha">
                        </div>
                        <div class="col-12">
                            <label for="timeStart" class="form-label">Hora de Inicio</label>
                            <input class="form-control" type="time" name="txtTimeStart" id="txtTimeStart">
                        </div>
                        <div class="col-12">
                            <label for="timeEnd" class="form-label">Hora de Término</label>
                            <input class="form-control" type="time" name="txtTimeEnd" id="txtTimeEnd">
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;" onclick="fntConfirmEditInsert()">
                                    Guardar Cambios
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;" 
                                    data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-3">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped v_table_solicitudes my-3" style="width: 100%;" id="v_table_solicitudes">
                    <thead class="table-light">
                        <tr>
                            <th style="width: 40px;">#</th>
                            <th>Cliente</th>
                            <th style="width: 200px;">Nombre Solicitud</th>
                            <th style="width: 380px;">Descripción</th>
                            <th>Fecha</th>
                            <th>Inicio</th>
                            <th>Término</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllSolicitudes' %}";
    let v_url_solicitud = "{% url 'getSolicitud' %}";
    let v_delete_solicitudes = "{% url 'deleteSolicitud' %}";
    let v_enable_solicitudes = "{% url 'enableSolicitud' %}";
    let v_disable_solicitudes = "{% url 'disableSolicitud' %}";
</script>
<script>
    let tableSolicitudes;
    $(document).ready(function () {
        tableSolicitudes = $('#v_table_solicitudes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            pagingType: "full_numbers",
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "id_solicitud"
            }, {
                "data": "rut_cliente"
            }, {
                "data": "nombre_solicitud"
            }, {
                "data": "descripcion_solicitud"
            }, {
                "data": "fecha"
            }, {
                "data": "time_start"
            }, {
                "data": "time_end"
            }, {
                "data": "tipo_solicitud"
            }, {
                "data": "status_solicitud"
            }, {
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });
</script>
<script>
    // EDIT SOLICITUD
    function fntEditSolicitud (id_solicitud){
        var id_solicitud = id_solicitud;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_solicitud + "?idSolicitud=" + id_solicitud;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            document.getElementById('modalSolicitudesLabel').innerHTML = '<h5>Actualizar Solicitud: #'+ objData[0].id_solicitud +'</h5>';
            $('#idSolicitud').val(objData[0].id_solicitud);
            // console.log(objData[0].id_solicitud)
            $('#txtFecha').val(objData[0].fecha);
            $('#txtTimeStart').val(objData[0].time_start);
            $('#txtTimeEnd').val(objData[0].time_end);
            $('#modalEditSolicitud').show();
        }
    }

    function fntEnableSolicitud(id_solicitud) {
        var id_solicitud = id_solicitud;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_enable_solicitudes + "?idSolicitud=" + id_solicitud;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Solicitud Activada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDisableSolicitud(id_solicitud) {
        var id_solicitud = id_solicitud;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_disable_solicitudes + "?idSolicitud=" + id_solicitud;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Solicitud Desactivada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDeleteSolicitud(id_solicitud) {
        var id_solicitud = id_solicitud;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_delete_solicitudes + "?idSolicitud=" + id_solicitud;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(id_solicitud){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteSolicitud(id_solicitud);
                Swal.fire(
                'Eliminado!',
                'Solicitud eliminada exitosamente',
                'success'
                )
            }
        })
    }

    function fntConfirmEditInsert(){
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Proceso realizado exitosamente!',
            showConfirmButton: false,
            timer: 1700
        })
    }
</script>
{% endblock %}