{% extends 'base-dashboard.html' %}
{% block content %}
<style>
    @media screen and (max-width: 570px){
        #addAccidenteBtn{position: fixed; bottom: 0; left: 0; width: 100%; border-radius: 0; padding: 15px 10px; z-index: 1000;}
        body{overflow-x: hidden !important;}
    }
</style>
<div class="modal fade" id="modalAccidente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAccidenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 13px; padding: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAccidenteLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/" id="formAccidente" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="idAccidente" id="idAccidente">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtNombreAccidente" name="txtNombreAccidente" placeholder="name@example.com" required>
                                <label for="floatingInput">Asunto Accidente</label>
                            </div>
                            <div class="invalid-feedback">
                                Nombre Accidente Requerido
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <textarea type="text" class="form-control" id="txtDescripcionAccidente" name="txtDescripcionAccidente" style="height: 150px;" placeholder="name@example.com" required></textarea>
                                <label for="floatingInput">Descripción Accidente</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="date" class="form-control" id="txtFechaAccidente" name="txtFechaAccidente" placeholder="" required>
                                <label for="floatingInput">Fecha Accidente</label>
                            </div>
                            <div class="invalid-feedback">
                                Fecha Accidente Requerido
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="time" class="form-control" id="txtHoraAccidente" name="txtHoraAccidente" placeholder="" required>
                                <label for="floatingInput">Hora Accidente</label>
                            </div>
                            <div class="invalid-feedback">
                                Hora Accidente 
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtTipoAccidente" name="txtTipoAccidente" placeholder="" required>
                                <label for="floatingInput">Tipo Accidente</label>
                            </div>
                            <div class="invalid-feedback">
                                Tipo Accidente Ocurrido
                            </div>
                        </div>                  
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" onclick="fntConfirmEditInsert()" 
                                    style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;">
                                    Guardar Cambios
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> 

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-3">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <!-- <div class="d-flex">
                    <button type="button" class="btn btn-primary" id="addAccidenteBtn" data-bs-toggle="modal" style="background: linear-gradient(to right, deepskyblue, blueviolet);
                        border: none; color: white;"
                        onclick="openModal()">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div> -->
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover v_table_Accidentes my-3" style="width: 100%;" id="v_table_Accidentes">
                    <thead class="table-light">
                        <tr>
                            <th># Id</th>
                            <th>Cliente</th>
                            <th>Nombre Accidente</th>
                            <th>Descripción Accidente</th>
                            <th>Fecha Accidente</th>
                            <th>Hora Accidente</th>
                            <th>Tipo Accidente</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllAccidentes' %}";
    let v_url_accidente = "{% url 'getAccidentes' %}";
    let v_url_enable_accidente = "{% url 'enableAccidente' %}";
    let v_url_disable_accidente = "{% url 'disableAccidente' %}";
    let v_url_delete_accidente = "{% url 'deleteAccidente' %}";    
</script>
<script>
    let tableAccidente;
    $(document).ready(function () {
        tableAccidente = $('#v_table_Accidentes').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            pagingType: "full_numbers",
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "id_accidente"
            }, {
                "data": "rut_cliente"
            }, {
                "data": "nombre_accidente"
            }, {
                "data": "descripcion_accidente"
            }, {
                "data": "fecha_accidente"
            }, {
                "data": "hora_accidente"
            },{
                "data": "tipo_accidente"
            },{
                "data": "status_accidente"
            },{ 
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });
    

    function fntEditAccidente (id_accidente){
        var id_accidente = id_accidente;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_accidente + "?idAccidente=" + id_accidente;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            document.getElementById('modalAccidenteLabel').innerHTML = '<h5>Actualizar: '+ objData[0].nombre_accidente; +'</h5>';
            $('#idAccidente').val(objData[0].id_accidente);
            $('#txtNombreAccidente').val(objData[0].nombre_accidente);
            $('#txtDescripcionAccidente').val(objData[0].descripcion_accidente);
            $('#txtFechaAccidente').val(objData[0].fecha_accidente);
            $('#txtHoraAccidente').val(objData[0].hora_accidente);
            $('#txtTipoAccidente').val(objData[0].tipo_accidente);
            $('#modalAccidente').show();
        }
    }

    function fntEnableAccidente(id_accidente){
        var id_accidente = id_accidente;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_enable_accidente + "?idAccidente=" + id_accidente;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Accidente Desactivado!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDisableAccidente(id_accidente){
        var id_accidente = id_accidente;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_disable_accidente + "?idAccidente=" + id_accidente;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Accidente Desactivado!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalAccidente'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formAccidente');
        myModal.show(modalToggle);
        document.getElementById('modalAccidenteLabel').innerHTML = '<h5>Añadir nuevo accidente</h5>';
        $('#idAccidente').val('');
        $('#txtNombreAccidente').val('');
        $('#txtDescripcionAccidente').val('');
        $('#txtFechaAccidente').val('');
        $('#txtHoraAccidente').val('');
        $('#txtTipoAccidente').val('');
        $('#modalAccidente').show();
    }

    function fntDeleteAccidente(id_accidente) {
        var id_accidente = id_accidente;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_delete_accidente + "?idAccidente=" + id_accidente;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(id_accidente){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteAccidente(id_accidente);
                Swal.fire(
                    'Eliminado!',
                    'Tu elemento ha sido eliminado exitosamente',
                    'success'
                )
            }
        })
    }

    function fntConfirmEditInsert(){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1900,
            timerProgressBar: true,
            didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Proceso finalizado exitosamente!'
        })
    }
</script>
{% endblock %}