{% extends 'base-dashboard.html' %}
{% block content %}
<div class="modal fade" id="modalCapacitaciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalCapacitacionesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCapacitacionesLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "insertCapacitacion" %}" id="formCapacitacion" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="idCapacitacion" id="idCapacitacion">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="nombreCapacitacion" class="form-label">Nombre Capacitación</label>
                            <input class="form-control" type="text" name="txtNombreCapacitacion" id="txtNombreCapacitacion"
                                required>
                            <div class="invalid-feedback">
                                Nombre Capacitación Requerido
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="descripcionCaapcitacion" class="form-label">Descripción Capacitación</label>
                            <textarea class="form-control" name="txtDescripcionCapacitacion" id="txtDescripcionCapacitacion"
                                cols="30" rows="10">
                            </textarea>
                        </div>
                        <div class="col-12">
                            <label for="totalCapacitacion" class="form-label">Total Capacitación</label>
                            <input class="form-control" type="number" name="txtTotalCapacitacion" id="txtTotalCapacitacion"
                                required>
                            <div class="invalid-feedback">
                                Total Capacitación Requerido
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" onclick="fntConfirmEditInsert()">Enviar</button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-secondary w-100"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-5 fst-italic fw-bolder">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        onclick="openModal()">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="">
                <table class="table table-bordered table-striped v_table_capacitaciones my-3" style="width: 100%;" id="v_table_capacitaciones">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th style="width: 60px !important;">Profesional</th>
                            <th>Descripción</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tfoot class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th style="width: 60px !important;">Profesional</th>
                            <th>Descripción</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllCapacitaciones' %}";
    let v_url_capacitacion = "{% url 'getCapacitacion' %}";
    let v_url_enable_capacitacion = "{% url 'enableCapacitacion' %}";
    let v_url_disable_capacitacion = "{% url 'disableCapacitacion' %}";
    let v_url_delete_capacitacion = "{% url 'deleteCapacitacion' %}";
</script>
<script>
    let tableCapacitaciones;
    $(document).ready(function () {
        tableCapacitaciones = $('#v_table_capacitaciones').DataTable({
            pagingType: "full_numbers",
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "nombre_capacitacion"
            }, {
                "data": "usuarios"
            }, {
                "data": "descripcion_capacitacion"
            }, {
                "data": "total_capacitacion"
            }, {
                "data": "status_capacitaciones",
            }, { 
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });

    function fntEditCapacitacion (id_capacitacion){
        var id_capacitacion = id_capacitacion;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_capacitacion + "?idCapacitacion=" + id_capacitacion;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            $('#idCapacitacion').val(objData[0].id_capacitacion);
            $('#txtNombreCapacitacion').val(objData[0].nombre_capacitacion);
            $('#txtDescripcionCapacitacion').val(objData[0].descripcion_capacitacion);
            $('#txtTotalCapacitacion').val(objData[0].total_capacitacion);
            $('#modalCapacitaciones').show();
        }
    }

    function fntEnableCapacitacion(id_capacitacion){
        var id_capacitacion = id_capacitacion;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_enable_capacitacion + "?idCapacitacion=" + id_capacitacion;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Capacitación Activada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDisableCapacitacion(id_capacitacion){
        var id_capacitacion = id_capacitacion;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_disable_capacitacion + "?idCapacitacion=" + id_capacitacion;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Capacitación Desactivada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalCapacitaciones'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formCapacitacion');
        myModal.show(modalToggle);
        $('#idCapacitacion').val('');
        $('#txtNombreCapacitacion').val('');
        $('#txtDescripcionCapacitacion').val('');
        $('#txtTotalCapacitacion').val('');
    }

    function fntDeleteCapacitacion(id_capacitacion) {
        var id_capacitacion = id_capacitacion;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_delete_capacitacion + "?idCapacitacion=" + id_capacitacion;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(id_capacitacion){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteCapacitacion(id_capacitacion);
                Swal.fire(
                'Eliminado!',
                'Tu elemento ha sido eliminado exitosamente',
                'success'
                )
            }
        })
    }

    function fntConfirmEditInsert(){
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Proceso realizado exitosamente!',
            showConfirmButton: false,
            timer: 1700
        })
    }
</script>
{% endblock %}