{% extends 'base.html'%}
{% block content %}
            <div class="modal fade" id="modalRoles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="modalRolLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalRolLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url "insertRol" %}" id="formRol" class="needs-validation" method="POST">
                                {% csrf_token%}
                                <input type="hidden" name="idRol" id="idRol">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="nombreModulo" class="form-label">Nombre Rol</label>
                                        <input class="form-control" type="text" name="txtNombreRol" id="txtNombreRol"
                                            required>
                                        <div class="invalid-feedback">
                                            Nombre Rol Requerido
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="descripcionModulo" class="form-label">Descripción Rol</label>
                                        <textarea class="form-control" name="txtDescripcionRol" id="txtDescripcionRol"
                                            cols="30" rows="10"></textarea>
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        <div class="">
                                            <button type="submit" class="btn btn-primary w-100">Enviar</button>
                                        </div>
                                        <div class="my-2"></div>
                                        <div>
                                            <button type="button" class="btn btn-secondary w-100"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="contentAjax" id="contentAjax" style="display: none;"></div>
            <div class="col-12">
                <div class="my-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                            <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
                        </ol>
                    </nav>
                    <hr>
                    <div class="">
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <span class="fs-5 fst-italic fw-bolder">{% if title %}{{ title }}{% endif %}</span>
                                </li>
                            </ul>
                            <div class="d-flex">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#modalRoles">{% if button_add %}{{button_add}}{% endif %}</button>
                            </div>
                        </nav>
                        <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
                        <div class="">
                            <table class="table table-bordered table-striped v_table_modules my-3" style="width: 100%;" id="v_table_roles">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block scripts %}
    <script>
        let v_url = "{% url 'getAllRoles' %}";
        let v_url_roles = "{% url 'getModulo' %}";
        let v_url_enable_roles = "{% url 'enableRol' %}";
        let v_url_disable_roles = "{% url 'disableRol' %}";
        let v_url_delete_roles = "{% url 'deleteRol' %}";
        let v_url_get_permisos = "{% url 'getPermisos' %}";
    </script>
    <script>
        let tableRoles;
        $(document).ready(function () {
            tableRoles = $('#v_table_roles').DataTable({
                pagingType: "full_numbers",
                "ajax": {
                    "url": v_url,
                    "dataSrc": ""
                },
                "columns": [{
                    "data": "nombre_rol"
                }, {
                    "data": "descripcion_rol"
                }, {
                    "data": "status_rol"
                }, {
                    "data": "options"
                }],
                "order": [
                    [0, "desc"]
                ]
            });
        });

        function fntEditRol (id_rol){
            var id_rol = id_rol;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_roles + "?idRol=" + id_rol;
            request.open("GET", ajaxUrl, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.send(ajaxUrl);
            request.onreadystatechange = function () {
                let objData = JSON.parse(request.responseText);
                $('#idRol').val(objData[0].id_modulo);
                $('#txtNombreRol').val(objData[0].nombre_modulo);
                $('#txtDescripcionRol').val(objData[0].descripcion_modulo);
                $('#modalRoles').show();
            }
        }

        function openModal() {
            var myModal = new bootstrap.Modal(document.getElementById('modalRoles'), {
                keyboard: false
            })
            var a = document.querySelector('.needs-validation').reset();
            var modalToggle = document.getElementById('formRol');
            myModal.show(modalToggle);
            $('#idRol').val('');
            $('#txtNombreRol').val('');
            $('#txtDescripcionRol').val('');
        }

        function enableRol(id_rol) {
            var id_rol = id_rol;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_enable_roles + "?idRol=" + id_rol;
            request.open("GET", ajaxUrl, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.send(ajaxUrl);
            request.onreadystatechange = function () {
                window.location.reload()
            }
        }

        function disableRol(id_rol) {
            var id_rol = id_rol;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_disable_roles + "?idRol=" + id_rol;
            request.open("GET", ajaxUrl, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.send(ajaxUrl);
            request.onreadystatechange = function () {
                window.location.reload()
            }
        }

        function deleteRol(id_rol) {
            var id_rol = id_rol;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_delete_roles + "?idRol=" + id_rol;
            request.open("GET", ajaxUrl, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.send(ajaxUrl);
            request.onreadystatechange = function () {
                window.location.reload()
            }
        }

        function fntRolesPermisos(id_rol){
            var id_rol = id_rol;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_get_permisos + "?idRol=" + id_rol;
            request.open("GET", ajaxUrl, true);
            request.send();

            request.onreadystatechange = function() {
                if (request.readyState == 4 && request.status == 200) {
                    document.querySelector('#contentAjax').style.display = 'block';
                    document.querySelector('#contentAjax').innerHTML = request.responseText;
                    $('.modalPermisos').modal('show');
                }
            }
        }
    </script>

{% endblock %}