<!DOCTYPE html>
<html lang="es-CL">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Plugins -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'usr/vendor/hint/css/hint.css' %}">
  <link rel="stylesheet" href="{% static 'usr/vendor/datatable/css/datatable.css' %}">
  <!-- Estilos Propios -->
  <link rel="stylesheet" href="{% static 'usr/css/estilos.css' %}">
  <title>RSP Companny - Asesores Profesionales</title>

  <link rel="icon" href="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" type="image/x-icon">
  <!-- JQuery -->
  <script src="{% static 'usr/vendor/jquery/js/jquery.js' %}"></script>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
</style>

<body style="font-family: 'Poppins', sans-serif">
  <header class="p-3 mb-3 border-bottom bg-white fixed-top">
    <nav class="container navbar navbar-expand-lg">
      <div class="container-fluid">
        <a href="/" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="mdo" class="rounded-circle"
            width="45" height="40">
            RSP Commpany
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" 
          style="border-radius: 4px !important; color: white !important; background-color: dodgerblue; font-size: 25px;">
          <i class='bx bx-menu'></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Servicios</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Control</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cuenta
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if session_status.profesional == True %}
                <li><a class="dropdown-item" href="{% url "profileProfesional" %}">Mi Perfil Profesional</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url "logout" %}" onclick="fntLogoutUser()">Cerrar Sesión</a></li>
                {% elif session_status.cliente == True %}
                <li><a class="dropdown-item" href="{% url "profileCliente" %}">Mi perfil Usuario</a></li>
                <li> 
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url "logout" %}" onclick="fntLogoutUser()">Cerrar Sesión</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" href="/" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Login Home Page Cliente/Professional -->
  <div class="modal fade" tabindex="-1" id="loginModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-5 shadow" style="border-radius: 10px;">
        <div class="modal-header p-5 pb-2 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <div class="form__login">
            <div class="container text-center">
              <form method="POST" action="{% url 'auth' %}" class="needs-validation" enctype="application/x-www-form-urlencoded" id="formLoginHome">
                {% csrf_token %}
                <img class="mb-3" src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="" width="70" height="70" style="border-radius: 50%; text-align: center;">
                <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
            
                <div class="form-floating">
                  <input type="text" class="form-control" placeholder="12345678-9" name="txtRut" id="txtRut" required>
                  <label for="floatingInput">Rut Cliente</label>
                </div>
                <div class="form-floating mt-2">
                  <input type="password" class="form-control" placeholder="Password" name="txtPassword" id="txtPassword" required>
                  <label for="floatingPassword">Contraseña</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-4" type="submit" onclick="fntConfirmLogin()">Acceder</button>
                <button class="w-100 btn btn-lg btn-outline-secondary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#registerModal">Crear Cuenta</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Home Page Cliente -->
  <div class="modal fade" tabindex="-1" id="registerModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content rounded-5 shadow" style="border-radius: 10px;">
        <div class="modal-header p-5 pb-2 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <div class="form__login">
            <div class="container text-center">
              <form method="POST" action="{% url "registerCliente" %}" class="needs-validation" enctype="application/x-www-form-urlencoded" id="formRegisterHome">
                {% csrf_token %}
                <img class="mb-3" src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="" width="70" height="70" style="border-radius: 50%; text-align: center;">
                <h1 class="h3 mb-3 fw-normal">Crear Cuenta</h1>

                <div class="form-floating mt-2">
                  <input type="text" class="form-control" id="txtRutEmpresa" name="txtRutEmpresa" placeholder="name@example.com" required>
                  <label for="floatingInput">RUT Empresa (12345678-9)</label>
                </div>
            
                <div class="form-floating mt-2">
                  <input type="text" class="form-control" id="txtNombreEmpresa" name="txtNombreEmpresa" placeholder="name@example.com" required>
                  <label for="floatingInput">Nombre de tu negocio</label>
                </div>

                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-floating mt-2">
                      <input type="text" class="form-control" id="txtN1Cliente" name="txtN1Cliente" placeholder="name@example.com" required>
                      <label for="floatingInput">Primer Nombre</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-floating mt-2">
                      <input type="text" class="form-control" id="txtN2Cliente" name="txtN2Cliente" placeholder="name@example.com" required>
                      <label for="floatingInput">Segundo Nombre</label>
                    </div>
                  </div>
                </div>
         
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-floating mt-2">
                      <input type="text" class="form-control" id="txtApellidoPaternoCliente" name="txtApellidoPaternoCliente" placeholder="name@example.com" required>
                      <label for="floatingInput">Apellido Paterno</label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-floating mt-2">
                      <input type="text" class="form-control" id="txtApellidoMaternoCliente" name="txtApellidoMaternoCliente" placeholder="name@example.com" required>
                      <label for="floatingInput">Apellido Materno</label>
                    </div>
                  </div>
                </div>
               
                <div class="form-floating mt-2">
                  <input type="text" class="form-control" id="txtRutCliente" name="txtRutCliente" placeholder="name@example.com" required>
                  <label for="floatingInput">RUT Cliente</label>
                </div>
                <div class="form-floating mt-2">
                  <input type="text" class="form-control" id="txtContactoCliente" name="txtContactoCliente" placeholder="name@example.com" required>
                  <label for="floatingInput">Número Contacto (912345678)</label>
                </div>
                <div class="form-floating mt-2">
                  <input type="email" class="form-control" id="txtCorreoCliente" name="txtCorreoCliente" placeholder="name@example.com" required>
                  <label for="floatingInput">Correo Electrónico</label>
                </div>
                <div class="form-floating mt-2">
                  <input type="password" class="form-control" id="txtPasswordCliente" name="txtPasswordCliente" placeholder="Password" required>
                  <label for="floatingPassword">Contraseña</label>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary mt-4" onclick="fntRegisterUser(), fntConfirmRegister()">Registrarse</button>
                <button class="w-100 btn btn-lg btn-outline-secondary mt-1" type="button" data-bs-toggle="modal" data-bs-target="#loginModal" >Iniciar Sesión</button>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <div class="content border-top" style="height: 100%; background-color: white;">
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="mdo" class="rounded-circle"
              width="45" height="40">
          </a>
          <span class="text-muted">© 1992-2022 RSP Company.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-twitter' style="font-size: 25px;"></i></a>
          </li>
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-instagram-alt'
                style="font-size: 25px;"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-facebook' style="font-size: 25px;"></i></a>
          </li>
        </ul>
      </footer>
    </div>
  </div>

  <!-- Volver Arriba Buttom -->
  <button class="btn btn-primary hint--left hint--info" 
    aria-label="Volver arriba" style="padding: 10px 14px; position: fixed; 
      bottom: 3%; right: 3%; box-shadow: 1px 1px 10px rgb(180, 180, 180);">
        <i class='bx bxs-chevron-up'></i>
  </button>

  
  <!-- Bootstrap -->
  <script src="{% static 'usr/vendor/bootstrap/js/bootstrap.js' %}"></script>
  <!-- Plugins -->
  <script src="{% static 'usr/vendor/aos/js/aos.js' %}"></script>
  <script src="{% static 'usr/vendor/datatable/js/datatable.js' %}"></script>
  <script src="{% static 'usr/vendor/datatable/js/datatable.bootstrap.js' %}"></script>
  <script>
    AOS.init();
  </script>
  <script src="{% static 'usr/vendor/boxicons/js/boxicons.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  {% block scripts %}
  <script>

    function fntConfirmRegister() {

    var form = document.getElementById('formRegisterHome');
    var inputs = form.getElementsByTagName('input');
    
    for (var i = 0; i < inputs.length; i++) {
      if(inputs[i].hasAttribute("required")){
        if(inputs[i].value == ""){
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'error',
            title: 'Todos los campos son obligatorios!'
          })
        } 
        else 
        {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: 'Registrado exitosamente!'
          })
        }
      }
    }
    return true;
    }

    function fntConfirmLogin() {

    var form = document.getElementById('formLoginHome');
    var inputs = form.getElementsByTagName('input');
    var rut_cliente = document.getElementById('txtRut');

    for (var i = 0; i < inputs.length; i++) {
      if(inputs[i].hasAttribute("required")){
        if(inputs[i].value == "" || rut_cliente.value == ""){
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'error',
            title: 'Todos los campos son obligatorios!'
          })
        } else {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: 'Sesión iniciada exitosamente!'
          })
        }
      }
    }
    return true;
    }

    function fntRegisterUser(){
      const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({
        icon: 'success',
        title: 'Cuenta creada exitosamente!'
      })
    }

    function fntLogoutUser(){
      const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 1700,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({
        icon: 'success',
        title: 'Sesión cerrada exitosamente!'
      })
    }
  </script>
  {% endblock %}

</body>

</html>
