<!DOCTYPE html>
<html lang="es-CL">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Estilos Propios -->
  <link rel="stylesheet" href="{% static 'usr/css/estilos.css' %}">
  <!-- Plugins -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'usr/vendor/hint/css/hint.css' %}">
  <link rel="stylesheet" href="{% static 'usr/vendor/datatable/css/datatable.css' %}">
  <title>RSP Company - Asesores Profesionales</title>

  <link rel="icon" href="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" type="image/x-icon">
  <!-- JQuery -->
  <script src="{% static 'usr/vendor/jquery/js/jquery.js' %}"></script>
</head>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  body::-webkit-scrollbar{width: 10px !important;}
  body::-webkit-scrollbar-thumb{background: linear-gradient(to top, deeppink, red) !important; border-radius: 50px !important;}

  @media screen and (max-width: 500px){
    #total_capacitacion{font-size: 40px !important;}
    .descripcion_capacitacion{font-size: 15px !important;}
    .subtitle_servicios{font-size: 16px !important;}
    .info_gestion{font-size: 15px !important;}
    .info_banner{font-size: 16px !important;}
    .card{height: auto !important;}
    .banner_cliente{height: auto !important; padding-bottom: 20px !important;}
    .banner_cliente .info_banner_cliente{font-size: 17px !important;}
    .content_table{padding: 5px 0 !important;}
    .info_profile{font-size: 13px !important;}
    .menu{padding-top: 15px !important;}
    .barra__lateral_mobile{height: auto !important; padding-right: 3px !important;}
    #barra__lateral{height: auto !important; padding-bottom: 15px !important;}
    .content_table_cliente{padding: 5px !important;}
    .card__login_cliente .login__content, .card__register_cliente .register__content{margin-top: 0px !important;}
    .card__login_cliente .background__login, .card__register_cliente .background__register{width: 100% !important; height: 230px !important; border-radius: 0 !important; background-repeat: no-repeat !important; margin-bottom: -140px !important;}
    .card__login_cliente .content__form_login, .card__register_cliente .content__form_register{padding: 15px 20px !important; margin-top: 40px !important;}
    .modal{margin: 0 !important; width: 100% !important;}
    .account{margin-bottom: 10px !important; width: 100% !important;}
    #reload_btn{margin-top: 7px !important; margin-left: 0 !important;}
  }
</style>

<body style="font-family: 'Poppins', sans-serif; scroll-behavior: smooth;">
  <div id="index"></div>
  <header class="p-3 mb-3 border-bottom bg-white fixed-top">
    <nav class="container navbar navbar-expand-lg">
      <div class="container-fluid">
        <a href="{% url 'getHome' %}" class="me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <img src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="mdo" class="rounded-circle"
            width="45" height="40">
            RSP Company
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" 
          style="border-radius: 4px !important; color: white !important; background-color: dodgerblue; font-size: 25px;">
          <i class='bx bx-menu'></i>
        </button>
        <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if session_status.profesional == True %}
            <li><a href="#" class="nav-link px-2 link">Portal</a></li>
            <li><a href="{% url 'projectsProfesional' %}" class="nav-link px-2">Proyectos</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tickets
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/">Todos los tickets</a></li>
                <li><a class="dropdown-item" href="/">Mis tickets</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="#index" class="nav-link px-2 link">Inicio</a></li>
            <li><a href="#servicios" class="nav-link px-2 link">Servicios</a></li>
            <li><a href="#gestion" class="nav-link px-2 link">Gestión</a></li>
            {% endif %}
          </ul>
          <li class="nav-item dropdown text-center account" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="background-color: dodgerblue; color: white; padding: 5px 10px; border-radius: 50px; margin-right: 5px;">
              Cuenta
            </a>
            
            <div class="dropdown-menu dropdown-menu-white border-0 pt-0 mx-0 rounded-3 shadow overflow-hidden" style="width: 300px;">
              <ul class="list-unstyled mb-0">
                {% if session_status.profesional == True %}
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url "profileProfesional" %}">
                    <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
                    Mi Perfil
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url "logout" %}" onclick="fntLogoutUser()">
                    <span class="d-inline-block bg-danger rounded-circle" style="width: .5em; height: .5em;"></span>
                    Cerrar Sesión
                  </a>
                </li>
                {% elif session_status.cliente == True %}
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2"  href="{% url "profileCliente" %}">
                    <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
                    Mi Perfil
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="{% url "logout" %}" onclick="fntLogoutUser()">
                    <span class="d-inline-block bg-danger rounded-circle" style="width: .5em; height: .5em;"></span>
                    Cerrar Sesión
                  </a>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <span class="d-inline-block bg-success rounded-circle" style="width: .5em; height: .5em;"></span>
                    Iniciar Sesión
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/" data-bs-toggle="modal" data-bs-target="#registerModal">
                    <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
                    Crear Cuenta
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </li>

          <li class="nav-item dropdown text-center" style="list-style: none;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
              style="background-color: dodgerblue; color: white; padding: 5px 10px; border-radius: 50px;">
              <i class='bx bx-search'></i>
            </a>
            
            <div class="dropdown-menu dropdown-menu-white border-0 pt-0 mx-0 rounded-3 shadow overflow-hidden" style="width: 300px;">
              <form class="p-2 mb-2 bg-white border-bottom border-white">
                <input type="search" class="form-control form-control-white" autocomplete="false" placeholder="Escribe para buscar...">
              </form>
            </div>
          </li>

        </div>
      </div>
    </nav>
  </header>

  <!-- Login Home Page Cliente/Professional -->
  <div class="modal fade" tabindex="-1" id="loginModal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content rounded-5" style="border-radius: 10px; background: transparent !important; border: none;">
  
        <div class="modal-body pt-0">
          <div class="card card__login_cliente shadow-lg" style="height: auto; border-radius: 5px; background-color: #e5ecf2;">
            <div class="login__content">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <div class="shadow-sm background__login" style="background: url(https://cdn.dribbble.com/users/1912990/screenshots/6129020/cloud_computing.gif);
                            background-size: cover; width: 100%; height: 600px; border-radius: 5px 50% 50% 5px;">
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="content__form_login" style="text-align: left; height: auto; padding: 15px 55px 15px 35px; margin-top: 80px;">
                            <h2 style="color: black;">Iniciar Sesión</h2> 
                            <br>
                            <form action="{% url 'auth' %}" method="POST" class="needs-validation" enctype="application/x-www-form-urlencoded" id="formLoginHome">
                            {% csrf_token %}
                                <div class="form-floating" style="color: black;">
                                    <input type="text" class="form-control" name="txtRut" id="txtRut" placeholder="12345678-9" style="border-radius: 0;" required>
                                    <label for="floatingInput">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                        <path d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z"></path>
                                    </svg>
                                    Rut Cliente
                                    </label>
                                </div>
                                <br>
                                <div class="form-floating">
                                    <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="12345678-9" style="border-radius: 0;" required>
                                    <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                        <path d="M7 17a5.007 5.007 0 0 0 4.898-4H14v2h2v-2h2v3h2v-3h1v-2h-9.102A5.007 5.007 0 0 0 7 7c-2.757 0-5 2.243-5 5s2.243 5 5 5zm0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z"></path>
                                    </svg>
                                    Contraseña
                                    </label>
                                </div>
                                <br>
                                <p class="text-muted text-center" style="font-size: 13px;"><span style="color: red;">*</span> Si tienes problemas al iniciar sesión, comunicar al soporte técnico.</p>
                                <button class="btn" type="submit" style="width: 100%; padding: 20px 25px; text-transform: uppercase; letter-spacing: 1px; 
                                    background: linear-gradient(to right, deeppink, red); color: white; border: none;" onclick="fntConfirmLogin()">
                                    acceder ahora
                                </button>
                                <br><br>
                                <button class="btn btn-link w-100" type="submit" data-bs-toggle="modal" data-bs-target="#registerModal" style="font-size: 13px;">
                                    No tienes una cuenta en RSP? Registrate ahora
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- Register Home Page Cliente -->
  <div class="modal fade" tabindex="-1" id="registerModal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content rounded-5" style="border-radius: 10px; border: none; background: transparent !important;">
  
        <div class="modal-body pt-0">
          <div class="card card__register_cliente shadow-lg" style="height: auto; border-radius: 5px; background-color: #e5ecf2;">
            <div class="register__content">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <div class="shadow-sm background__register" style="background: url(https://meridiangulf.com/images/top_banner/banner%202.gif);
                            background-size: cover; background-position: center center; width: 100%; height: 700px; border-radius: 5px 50% 50% 5px;">
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="content__form_register" style="text-align: left; height: auto; padding: 15px 35px 15px 15px; margin-top: 70px;">
                            <h2 style="color: black;">Crear Cuenta</h2> 
                            <br>
                            <form action="{% url 'registerCliente' %}" method="POST" class="needs-validation" enctype="application/x-www-form-urlencoded" id="formRegisterHome">
                            {% csrf_token %}
                              <div class="contenido_form" style="max-height: 300px; overflow-y: auto;">
                                <div class="form-floating" style="color: black;">
                                  <input type="text" class="form-control" name="txtRutEmpresa" id="txtRutEmpresa" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                        <path d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z"></path>
                                    </svg>
                                    Rut Empresa
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtNombreEmpresa" id="txtNombreEmpresa" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
                                      <path d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
                                    </svg>
                                    Nombre de tu empresa
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtN1Cliente" id="txtN1Cliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
                                      <path d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
                                    </svg>
                                    Primer Nombre
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtN2Cliente" id="txtN2Cliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
                                      <path d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
                                    </svg>
                                    Segundo Nombre
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtApellidoPaternoCliente" id="txtApellidoPaternoCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
                                      <path d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
                                    </svg>
                                    Apellido Paterno
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtApellidoMaternoCliente" id="txtApellidoMaternoCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M20.005 5.995h-1v2h1v8h-1v2h1c1.103 0 2-.897 2-2v-8c0-1.102-.898-2-2-2zm-14 4H15v4H6.005z"></path>
                                      <path d="M17.005 17.995V4H20V2h-8v2h3.005v1.995h-11c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h11V20H12v2h8v-2h-2.995v-2.005zm-13-2v-8h11v8h-11z"></path>
                                    </svg>
                                    Apellido Materno
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtRutCliente" id="txtRutCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M15 11h7v2h-7zm1 4h6v2h-6zm-2-8h8v2h-8zM4 19h10v-1c0-2.757-2.243-5-5-5H7c-2.757 0-5 2.243-5 5v1h2zm4-7c1.995 0 3.5-1.505 3.5-3.5S9.995 5 8 5 4.5 6.505 4.5 8.5 6.005 12 8 12z"></path>
                                    </svg>
                                    Rut Cliente
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="text" class="form-control" name="txtContactoCliente" id="txtContactoCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                      <path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z"></path>
                                      <path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z"></path>
                                    </svg>
                                    N° Contacto
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="email" class="form-control" name="txtCorreoCliente" id="txtCorreoCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                      <path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"></path>
                                    </svg>
                                    Correo Electrónico
                                  </label>
                                </div>
                                <div class="form-floating">
                                  <input type="password" class="form-control" name="txtPasswordCliente" id="txtPasswordCliente" placeholder="12345678-9" style="border-radius: 0;" required>
                                  <label for="floatingInput" style="color: black;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0);transform: ;msFilter:;">
                                      <path d="M7 17a5.007 5.007 0 0 0 4.898-4H14v2h2v-2h2v3h2v-3h1v-2h-9.102A5.007 5.007 0 0 0 7 7c-2.757 0-5 2.243-5 5s2.243 5 5 5zm0-8c1.654 0 3 1.346 3 3s-1.346 3-3 3-3-1.346-3-3 1.346-3 3-3z"></path>
                                  </svg>
                                  Contraseña
                                  </label>
                                </div>
                              </div>
                              <br>
                              <p class="text-muted text-center" style="font-size: 13px;"><span style="color: red;">*</span> Si tienes problemas al registrarte, comunicar al soporte técnico.</p>
                              <button class="btn" type="submit" style="width: 100%; padding: 20px 25px; text-transform: uppercase; letter-spacing: 1px; 
                                  background: linear-gradient(to right, deeppink, red); color: white; border: none;" onclick="fntRegisterUser(), fntConfirmRegister()">
                                  crear cuenta
                              </button>
                              <br><br>
                              <button class="btn btn-link w-100" type="submit" data-bs-toggle="modal" data-bs-target="#loginModal" style="font-size: 13px;">
                                  Ya tienes una cuenta en RSP? Inicia Sesión ahora
                              </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  <div class="content border-top" style="height: 100%; background-color: white;">
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-4">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" alt="mdo" class="rounded-circle"
              width="45" height="40">
          </a>
          <span class="text-muted">© 1992-2022 RSP Company.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-twitter' style="font-size: 25px;"></i></a>
          </li>
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-instagram-alt'
                style="font-size: 25px;"></i></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-facebook' style="font-size: 25px;"></i></a>
          </li>
        </ul>
      </footer>
    </div>
  </div>

  <!-- Volver Arriba Buttom -->
  <button class="btn btn-primary hint--left hint--info" 
    aria-label="Volver arriba" style="padding: 10px 14px; position: fixed; 
      bottom: 3%; right: 3%; box-shadow: 1px 1px 10px rgb(180, 180, 180);">
        <i class='bx bxs-chevron-up'></i>
  </button>

  
  <!-- Bootstrap -->
  <script src="{% static 'usr/vendor/bootstrap/js/bootstrap.js' %}"></script>
  <!-- Plugins -->
  <script src="{% static 'usr/vendor/aos/js/aos.js' %}"></script>
  <script src="{% static 'usr/vendor/datatable/js/datatable.js' %}"></script>
  <script src="{% static 'usr/vendor/datatable/js/datatable.bootstrap.js' %}"></script>
  <script>
    AOS.init();
  </script>
  <script src="{% static 'usr/vendor/boxicons/js/boxicons.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'usr/vendor/jquery/js/jquery.chained.js' %}"></script>

  {% block scripts %}
  <script>

    function fntConfirmRegister() {

    var form = document.getElementById('formRegisterHome');
    var inputs = form.getElementsByTagName('input');
    
    for (var i = 0; i < inputs.length; i++) {
      if(inputs[i].hasAttribute("required")){
        if(inputs[i].value == ""){
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'info',
            title: 'Todos los campos son obligatorios!'
          })
        } 
        else 
        {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: 'Registrado exitosamente!'
          })
        }
      }
    }
    return true;
    }

    function fntConfirmLogin() {

    var form = document.getElementById('formLoginHome');
    var inputs = form.getElementsByTagName('input');
    var rut_cliente = document.getElementById('txtRut');

    for (var i = 0; i < inputs.length; i++) {
      if(inputs[i].hasAttribute("required")){
        if(inputs[i].value == "" || rut_cliente.value == ""){
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'info',
            title: 'Todos los campos son obligatorios!'
          })
        } else {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })

          Toast.fire({
            icon: 'success',
            title: 'Sesión iniciada exitosamente!'
          })
        }
      }
    }
    return true;
    }

    function fntRegisterUser(){
      const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({
        icon: 'success',
        title: 'Cuenta creada exitosamente!'
      })
    }

    function fntLogoutUser(){
      const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 1700,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({
        icon: 'success',
        title: 'Sesión cerrada exitosamente!'
      })
    }
  </script>
  {% endblock %}

</body>

</html>

