@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

button{border-radius: 50px !important;}
#barra__lateral{
    width: 380px; 
    overflow-y: auto; 
    height: 100vh;
    transition: .6s ease-in-out; 
    overflow-x: hidden;
}

@media (max-width: 500px){
    #total_capacitacion{font-size: 55px !important;}
    #barra__lateral{width: 100% !important;}
}