{% extends 'base-home.html'%}
{% block content %}

<style>
  @media screen and (max-width: 570px) {
    #addProject{position: fixed !important; bottom: 0% !important; right: 0% !important; width: 100% !important; border-radius: 0 !important; padding: 17px 10px !important; 
      box-shadow: 0px 10px 5px rgb(200, 200, 200), 0px -3px 3px rgb(120, 120, 120);}
  }
</style>
<!-- Modal -->
<div class="modal fade" id="modalProject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border-radius: 13px; padding: 15px;">
      <div class="modal-header">
        <h5 class="modal-title" id="projectLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'insertCapacitacionProfesional' %}" method="POST" enctype="multipart/form-data" id="formProject">
          {% csrf_token %}
          <div class="row g-3">
            <input type="hidden"  name="numberCapacitacion" id="numberCapacitacion">
            <div class="col-12 form-group">
              <div class="form-floating mt-2">
                <input type="text" class="form-control" id="txtNombreCapacitacionProfesional" name="txtNombreCapacitacionProfesional" placeholder="name@example.com" required>
                <label for="floatingInput">Nombre Proyecto</label>
              </div>
            </div>
            <div class="col-12 form-group">
              <div class="form-floating mt-2">
                <textarea type="text" class="form-control" id="txtDescripcionCapacitacionProfessional" name="txtDescripcionCapacitacionProfessional" style="height: 150px;" placeholder="name@example.com" required></textarea>
                <label for="floatingInput">Descripción</label>
              </div>
            </div>
            <div class="col-6 form-group">
              <div class="form-floating mt-2">
                <input type="number" class="form-control" id="intTotalCapacitacion" name="intTotalCapacitacion" placeholder="name@example.com" min="1" required>
                <label for="floatingInput">Total</label>
              </div>
            </div>
            <div class="col-6 form-group">
              <div class="form-floating mt-2">
                <select class="form-select" name="listStatusCapacitacion" id="listStatusCapacitacion" required>
                  <option value="0">Desactivada</option>
                  <option value="1">Activada</option>
                </select>
                <label class="form-label" for="nombreCapacitacion">Estado</label>
              </div>
            </div>
            <br>
            <div class="col-12">
              <p class="text-muted" style="text-align: center">
                <span class="text-danger">*</span> 
                  Ten en cuenta enviar <span class="fw-bold">"DESACTIVADO"</span> el proyecto antes de <span class="fw-bold">"GUARDAR CAMBIOS"</span>, o este aparecerá en el portal para su monetización.
                <span class="text-danger">*</span> 
                </p>
            </div>
            <br>
            <div class="col-12">
              <div class="">
                  <button type="submit" class="btn btn-primary w-100" onclick="fntConfirmEdit(), reloadTable()" 
                      style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                      border: none; color: white; border-radius: 50px; padding: 20px 10px;">
                      Guardar Cambios
                  </button>
              </div>
              <div class="my-2"></div>
              <div>
                  <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;"
                      data-bs-dismiss="modal">
                      Cancelar
                  </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CHECKLIST ACTIVIDADES-->
<div class="modal fade" id="modalChecklist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 13px; padding: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChecklistLabel">Actividades de la Capacitación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "editChecklist" %}" id="formActividades" class="needs-validation" method="POST">
                    {% csrf_token %}  
                    <input type="hidden" name="idCapacitacion1" id="idCapacitacion1">                  
                    <div class="row g-3">
                        <div class="col-12">
                            <ul class="list-group">
                              <li class="list-group-item" id="cboxlist1">  
                                  <input class="form-check-input me-1" type="checkbox" value="1" id="CboxAct1" name="CboxAct1">
                                  <label class="form-check-label" for="CboxAct1" id="cbox1">Actividad 1</label>                                   
                              </li>                              
                              <li class="list-group-item" id="cboxlist2">
                                <input class="form-check-input me-1" type="checkbox" value="1" id="CboxAct2" name="CboxAct2">
                                <label class="form-check-label" for="CboxAct2" id="cbox2">Actividad 2</label>
                              </li>
                              <li class="list-group-item" id="cboxlist3">
                                <input class="form-check-input me-1" type="checkbox" value="1" id="CboxAct3" name="CboxAct3">
                                <label class="form-check-label" for="CboxAct3" id="cbox3">Actividad 3</label>
                              </li>
                              <li class="list-group-item" id="cboxlist4">
                                <input class="form-check-input me-1" type="checkbox" value="1" id="CboxAct4" name="CboxAct4">
                                <label class="form-check-label" for="CboxAct4" id="cbox4">Actividad 4</label>
                              </li>
                              <li class="list-group-item" id="cboxlist5">
                                <input class="form-check-input me-1" type="checkbox" value="1" id="CboxAct5" name="CboxAct5">
                                <label class="form-check-label" for="CboxAct5" id="cbox5">Actividad 5</label>
                              </li>
                            </ul>
                        <br>
                        </div>                        
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;" onclick="fntEditChecklist()">
                                    Guardar Cambios
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;" 
                                    data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; padding: 18px 10px 6px 10px; background: linear-gradient(to right, black, blueviolet, dodgerblue); color: white; margin-top: 80px;">
  <div class="container text-center">
    <h6 class="info_profile"><i class='bx bxs-error'></i> Todos los cambios realizados en el portal de profesional serán registrador en el portal de administración</h6>
  </div>
</div>
<div class="content__profile" style="overflow-x: hidden; background-color:  #dee5ec;">
  <div class="content" style="background-color: white;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-2 col-12" style="padding: 10px 0 0 0; margin: 0;">
          <div class="d-flex flex-column align-items-stretch flex-shrink-0" id="barra__lateral" style="padding: 0 5px; height: 100vh; 
          background-color: rgb(249, 249, 249);">
            <div class="position-sticky barra__lateral_mobile" style="padding-right: 0px;">
              <div class="form-floating">
                <input type="text" class="form-control" placeholder="12345678-9" style="border-radius: 0;">
                <label for="floatingInput">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 26" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                    <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
                  </svg>
                  Buscar Proyecto
                </label>
              </div>
              <div class="list-group mt-2">
                <a href="{% url "profileProfesional" %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 0;">
                  Portal
                </a>
                <a href="{% url 'projectsProfesional' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 0; background-color: dodgerblue; color: white;">
                  Mis Proyectos
                </a>
                <a href="{% url 'reportesGlobalesProfesional' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 0;">
                  Reportes
                </a>
                <!-- <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 0;">
                  Asesorías
                </a> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-10 col-12" style="padding: 0; margin: 0;">
          <div class="container-fluid bg-white content_table" style="border-radius: 0px; box-shadow: 10px 0 4px -2px #d8e1e9; padding: 20px 50px 10px 50px; margin: 0;">
            <main class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="row g-5">
                    <span class="fs-3" style="color: gray; margin-bottom: -10px; margin-top: 100px;">Lista completa proyectos</span>
                    <br>
                    <div class="row mt-5">
                      <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" style="background: linear-gradient(to right, deepskyblue, blueviolet);
                          border: none; color: white; padding: 10px 20px;"
                          onclick="openModal()" id="addProject">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 28" style="fill: rgb(255, 255, 255);transform: ;msFilter:;">
                            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                          </svg> 
                          Añadir nuevo proyecto
                        </button>
                      </div>
                      <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-primary col-12" style="background: linear-gradient(to right, deeppink, red);
                          border: none; color: white; padding: 10px 20px; margin-left: 5px;"
                          onclick="reloadTable()" id="reload_btn">
                          <svg id="reload_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;">
                            <path d="M2 11h5v2H2zm15 0h5v2h-5zm-6 6h2v5h-2zm0-15h2v5h-2zM4.222 5.636l1.414-1.414 3.536 3.536-1.414 1.414zm15.556 12.728-1.414 1.414-3.536-3.536 1.414-1.414zm-12.02-3.536 1.414 1.414-3.536 3.536-1.414-1.414zm7.07-7.071 3.536-3.535 1.414 1.415-3.536 3.535z"></path>
                          </svg>
                          Recargar tabla
                        </button>
                      </div>

                    </div>
                    <div class="col-md-12 col-lg-12">
                      <div class="table-responsive"  id="projectsTable">
                        <table class="table table-borderles table-bordered table-striped table-hover align-middle">
                          <thead class="table-light">
                            <tr>
                              <th>#</th>
                              <th>Nombre</th>
                              <th>Valor</th>
                              <th>Estado</th>
                              <th>Opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in capacitaciones %}
                            <tr>
                              <td>{{ i.id_capacitacion }}</td>
                              <td>{{ i.nombre_capacitacion | safe }}</td>
                              <td>{{ i.total_capacitacion | safe }}</td>
                              {% if i.status_capacitacion == 1 %}
                              <td><div class='text-center'><button class='btn btn-sm btn-danger' 
                                style='background: linear-gradient(to right, deepskyblue, blueviolet); border: none; color: white; border-radius: 3px !important;'>Aprobada</button></div>
                              </td>
                              {% elif i.status_capacitacion == 0 %}
                              <td><div class='text-center'><button class='btn btn-sm btn-danger' 
                                style='background: linear-gradient(to right, orange, deeppink); border: none; color: white; border-radius: 3px !important;'>En Revisión</button></div>
                              </td>
                              {% endif %}
                              <td>{{ i.options | safe}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
            <footer class="my-5 pt-5 text-muted text-center text-small">
              <p class="mb-1">© 1992-2022 RPS Company.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacidad</a></li>
                <li class="list-inline-item"><a href="#">términos y Condiciones</a></li>
                <li class="list-inline-item"><a href="#">Soporte</a></li>
              </ul>
            </footer>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  let v_url_update_project = "{% url 'capacitacionProfesional' %}" ;
  let v_url_delete = "{% url 'deleteCapacitacionProfesional' %}";
  let v_url_actividad = "{% url 'getActividad' %}";

    function reloadTable() {
      $('#projectsTable').load(location.href + " #projectsTable");
    }

    document.getElementById("reload_btn").addEventListener("focus", () => {
      // evnet.defaultPrevented();
      let reload_icon = document.getElementById("reload_icon");
      reload_icon.style.transform = "rotate(450deg)";
      reload_icon.style.transition = "1.3s ease-in-out";
    })

    document.getElementById("reload_btn").addEventListener("focusout", () => {
      // evnet.defaultPrevented();
      let reload_icon = document.getElementById("reload_icon");
      reload_icon.style.transform = "rotate(0deg)";
      reload_icon.style.transition = "0s ease-in-out";
    })

    function fntConfirmInsert(){
      const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 1900,
        timerProgressBar: true,
        didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

      Toast.fire({
          icon: 'success',
          title: 'Proyecto ingresado exitosamente!'
      })
    }

    function fntConfirmEdit(){
      const Toast = Swal.mixin({
          toast: true,
          position: 'top',
          showConfirmButton: false,
          timer: 1900,
          timerProgressBar: true,
          didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
      })

      Toast.fire({
          icon: 'success',
          title: 'Proyecto actualizado exitosamente!'
      })
    }

    function openModal() {
      var myModal = new bootstrap.Modal(document.getElementById('modalProject'), {
          keyboard: false
      })
      var a = document.querySelector('.needs-validation').reset();
      var modalToggle = document.getElementById('formProject');
      myModal.show(modalToggle);
      modalToggle.reset();
      document.getElementById('projectLabel').innerHTML = '<h5>Añadir nuevo proyecto</h5>';
      $('#txtNombreCapacitacionProfesional').val('');
      $('#txtDescripcionCapacitacionProfessional').val('');
      $('#intTotalCapacitacion').val('');
      $('#listStatusCapacitacion').val('');
      $('#modalProject').show();
    }

    function fntEditProject (number) {
      var id_capacitacion =  number;
      var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
      var ajaxUrl = v_url_update_project + "?numberCapacitacion=" + id_capacitacion;

      request.open("GET", ajaxUrl, true);
      request.send();

      request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {
            let objData = JSON.parse(request.responseText);
            $('#numberCapacitacion').val(objData[0].id_capacitacion);
            $('#txtNombreCapacitacionProfesional').val(objData[0].nombre_capacitacion);
            $('#txtDescripcionCapacitacionProfessional').val(objData[0].descripcion_capacitacion);
            $('#intTotalCapacitacion').val(objData[0].total_capacitacion);
            $('#listStatusCapacitacion option[value="'+objData[0].status_capacitacion+'"]').prop('selected', true);
            $('#modalProject').show();
        }
      }
    }

    function deleteProject(number) {
      var id_capacitacion =  number;
      var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
      var ajaxUrl = v_url_delete + "?numberCapacitacion=" + id_capacitacion;
      request.open("GET", ajaxUrl, true);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(ajaxUrl);
      request.onreadystatechange = function () {
          window.location.reload()
      }
  }

  function fntConfirmDelete(number){
    Swal.fire({
        title: 'Está seguro que desea eliminar este elemento?',
        text: "No podrás deshacer los cambios!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminarlo!',
        cancelButtonText: 'Cancelar'
        }).then((result) => {
        if (result.isConfirmed) {
            deleteProject(number);
            Swal.fire(
            'Eliminado!',
            'Tu elemento ha sido eliminado exitosamente',
            'success'
            )
        }
    })
    } 

  function fntEditChecklist (number){
        // JAVASCRIPT
        var id_capacitacion = number;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_actividad + "?idCapacitacion=" + id_capacitacion;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);

            document.getElementById('modalChecklistLabel').innerHTML = 'Checklist';
            // FIN JAVASCRIPT

            // $ => JQUERY
            $('#idCapacitacion1').val(objData[0].id_capacitacion);
            $('#cbox1').html(objData[0].nombre_actividad_1);
            $('#cbox2').html(objData[0].nombre_actividad_2);
            $('#cbox3').html(objData[0].nombre_actividad_3);
            $('#cbox4').html(objData[0].nombre_actividad_4);
            $('#cbox5').html(objData[0].nombre_actividad_5);
            $('#modalActividades').show();
            if(objData[0].nombre_actividad_1 != "" && objData[0].status_actividad1 == 1){
              document.getElementById("cboxlist1").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct1").setAttribute("value",1);
              $("#CboxAct1").prop("checked", true);              
            }
            else if(objData[0].nombre_actividad_1 != "" && objData[0].status_actividad1 == 0){    
              document.getElementById("cboxlist1").setAttribute("class",'list-group-item visible');  
              document.getElementById("CboxAct1").setAttribute("value",0);        
              $("#CboxAct1").prop("checked", false);
            }else{
              document.getElementById("cboxlist1").setAttribute("class",'list-group-item invisible');
              document.getElementById("CboxAct1").setAttribute("value",0);  
            }
            if(objData[0].nombre_actividad_2 != "" && objData[0].status_actividad2 == 1){
              document.getElementById("cboxlist2").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct2").setAttribute("value",1);
              $("#CboxAct2").prop("checked", true); 
            }
            else if(objData[0].nombre_actividad_2 != "" && objData[0].status_actividad2 == 0){      
              document.getElementById("cboxlist2").setAttribute("class",'list-group-item visible');     
              document.getElementById("CboxAct2").setAttribute("value",0);    
              $("#CboxAct2").prop("checked", false);
            }else{
              document.getElementById("cboxlist2").setAttribute("class",'list-group-item invisible');
              document.getElementById("CboxAct2").setAttribute("value",0);
            }
            if(objData[0].nombre_actividad_3 != "" || objData[0].status_actividad3 == 1){
              document.getElementById("cboxlist3").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct3").setAttribute("value",1);
              $("#CboxAct3").prop("checked", true);
            }
            else if(objData[0].nombre_actividad_3 != "" && objData[0].status_actividad3 == 0){ 
              document.getElementById("cboxlist3").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct3").setAttribute("value",0);              
              $("#CboxAct3").prop("checked", false);
            }else{
              document.getElementById("cboxlist3").setAttribute("class",'list-group-item invisible');
              document.getElementById("CboxAct3").setAttribute("value",0);
            }
            if(objData[0].nombre_actividad_4 != "" || objData[0].status_actividad4 == 1){
              document.getElementById("cboxlist4").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct4").setAttribute("value",1);
              $("#CboxAct4").prop("checked", true);
            }
            else if(objData[0].nombre_actividad_4 != "" && objData[0].status_actividad4 == 0){
              document.getElementById("cboxlist4").setAttribute("class",'list-group-item visible'); 
              document.getElementById("CboxAct4").setAttribute("value",0);              
              $("#CboxAct4").prop("checked", false);
            }else{
              document.getElementById("cboxlist4").setAttribute("class",'list-group-item invisible');
              document.getElementById("CboxAct4").setAttribute("value",0);
            }
            if(objData[0].nombre_actividad_5 != "" || objData[0].status_actividad5 == 1){
              document.getElementById("cboxlist5").setAttribute("class",'list-group-item visible');
              document.getElementById("CboxAct5").setAttribute("value",1);
              $("#CboxAct5").prop("checked", true);  
            }
            else if(objData[0].nombre_actividad_5 != "" && objData[0].status_actividad5 == 0){    
              document.getElementById("cboxlist5").setAttribute("class",'list-group-item visible'); 
              document.getElementById("CboxAct5").setAttribute("value",0);          
              $("#CboxAct5").prop("checked", false);
            }else{
              document.getElementById("cboxlist5").setAttribute("class",'list-group-item invisible');
              document.getElementById("CboxAct5").setAttribute("value",0);
            }         
            // FIN JQUERY
        }       
    }
</script>
{% endblock %}

