<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSP Company - {{ title }}</title>
</head>
  <body>
      <div class="container">
          <div class="content_logo text-center">
              <div class="row">
                <div class="col-6">
                  <!-- <img src="https://assets.stickpng.com/thumbs/5847f439cef1014c0b5e4890.png" class="p-3 rounded-circle">                     -->
                  <h1 style="text-align: center;">RSP Company</h1>
                  <h6 style="text-align: center;"></h6>
                </div>
                <div class="col-6">
                  <h4>Folio: {{ uuid }}</h4>
                </div>
              </div>
          </div>
          <div class="info_report">
              <div class="descripcion_reporte">
                <p>
                    {{ descripcion }}
                </p>
              </div>
              <table class="table">
                  <thead>
                    <th>Rut Cliente</th>
                    <th>Cliente</th>
                    <th>Rut Empresa</th>
                    <th>Empresa</th>
                  </thead>
                  <tbody>
                    <td>{{ cliente }}</td>
                    <td>{{ nombre_cliente }} {{ apellido_cliente }}</td>
                    <td>{{ usuario }}</td>
                    <td>{{ empresa }}</td>
                  </tbody>
              </table>
          </div>
      </div>       

  </body>

</html>
