{% extends 'base-dashboard.html'%}
{% block content %}
<style>
    @media screen and (max-width: 570px){
        #addClienteBtn{position: fixed; bottom: 0; left: 0; width: 100%; border-radius: 0; padding: 15px 10px; z-index: 1000;}
    }
</style>
<div class="modal fade" id="modalCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalCLientesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalClientesLabel">Agregar un nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "insertCliente" %}" id="formCliente" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <!-- <input type="hidden" name="idModulo" id="idModulo"> -->
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="rutCliente" class="form-label">RUT</label>
                            <input class="form-control" type="text" name="txtRut" id="txtRut"
                                required>
                            <label for="primerNombreCliente" class="form-label">Primer Nombre</label>
                            <input class="form-control" type="text" name="txtPrimerNombre" id="txtPrimerNombre"
                                required>
                            <label for="segundoNombreCliente" class="form-label">Segundo Nombre</label>
                            <input class="form-control" type="text" name="txtSegundoNombre" id="txtSegundoNombre"
                                required>
                            <label for="apellidoPaternoCliente" class="form-label">Apellido Paterno</label>
                            <input class="form-control" type="text" name="txtApellidoPaterno" id="txtApellidoPaterno"
                                required>
                            <label for="apellidoMaternoCliente" class="form-label">Apellido Materno</label>
                            <input class="form-control" type="text" name="txtApellidoMaterno" id="txtApellidoMaterno"
                                required>
                            <label for="correoElectronicoCliente" class="form-label">Correo Electrónico</label>
                            <input class="form-control" type="email" name="txtCorreoElectronico" id="txtCorreoElectronico"
                                required>
                            <label for="telefonoCliente" class="form-label">Teléfono Contacto</label>
                            <input class="form-control" type="number" name="txtTelefono" id="txtTelefono"
                                required>
                            <label for="RutEmpresaCliente" class="form-label">Rut Empresa</label>
                            <input class="form-control" type="text" name="txtRutEmpresa" id="txtRutEmpresa"
                                required>
                            <label for="NombreEmpresaCliente" class="form-label">Nombre Empresa</label>
                            <input class="form-control" type="text" name="txtNombreEmpresa" id="txtNombreEmpresa"
                                required>                            
                            <div class="invalid-feedback">Rut del Cliente Requerido</div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100">Enviar</button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-secondary w-100"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalEditClientes" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalClientesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 20px; padding: 25px;">
            <div class="modal-header" style="margin-top: -15px;">
                <h5 class="modal-title" id="modalClientesLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "updateCliente" %}" id="formEditClientes" class="needs-validation" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="rutCliente" id="rutCliente">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtContrasenaCliente" name="txtContrasenaCliente" placeholder="name@example.com" required>
                                <label for="floatingInput">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtCorreoCliente" name="txtCorreoCliente" placeholder="name@example.com" required>
                                <label for="floatingInput">Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="number" class="form-control" id="txtTelefonoCliente" name="txtTelefonoCliente" placeholder="name@example.com" required>
                                <label for="floatingInput">Teléfono de Contacto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtNombreEmpresaCliente" name="txtNombreEmpresaCliente" placeholder="name@example.com" required>
                                <label for="floatingInput">Nombre Empresa</label>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn w-100" style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;" onclick='fntConfirmEditInsert()'>Actualizar
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100"
                                    style="border-radius: 50px; padding: 10px;" data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-3">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" id="addClienteBtn" data-bs-toggle="modal"
                        onclick="openModal()">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover v_table_clientes my-3" style="width: 100%;" id="v_table_clientes">
                    <thead class="table-light">
                        <tr>
                            <th>Cliente</th>
                            <th>Primer Nombre</th>
                            <th>Segundo Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Correo Electrónico</th>
                            <th>Teléfono</th>
                            <th>Empresa</th>
                            <th>Nombre Empresa</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
let v_url = "{% url 'getAllClientes' %}";
let v_url_get_cliente = "{% url 'getCliente' %}"
let v_url_delete_cliente = "{% url 'deleteCliente' %}";

    let tableClientes;
    $(document).ready(function () {
        tableClientes = $('#v_table_clientes').DataTable({
            pagingType: "full_numbers",
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "rut_cliente"
            }, {
                "data": "n1_cliente"
            }, {
                "data": "n2_cliente"
            }, {
                "data": "ap_cliente"
            },{
                "data": "am_cliente"
            },{
                "data": "correo_cliente"
            },{
                "data": "telefono_cliente"
            },{
                "data": "rut_empresa_cliente"
            },{
                "data": "nombre_empresa"
            },{
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });
    // EDIT CLIENTE
    function fntEditCliente (rut_cliente){
        var rut_cliente = rut_cliente;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_get_cliente + "?rutCliente=" + rut_cliente;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            // $('#formEditClientes').trigger("reset");
            document.getElementById('modalClientesLabel').innerHTML = '<h5>'+ objData[0].nombre_empresa +'</h5>';
            $('#rutCliente').val(rut_cliente);
            // console.log(objData[0].rut_cliente)
            $('#txtContrasenaCliente').val(objData[0].contrasena_cliente);
            $('#txtCorreoCliente').val(objData[0].correo_cliente);
            $('#txtTelefonoCliente').val(objData[0].telefono_cliente);
            $('#txtNombreEmpresaCliente').val(objData[0].nombre_empresa)
            $('#modalEditClientes').show();
        }
    }

    function fntConfirmEditInsert(){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1900,
            timerProgressBar: true,
            didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Proceso finalizado exitosamente!'
        })
    }
    //Limpiar campos
    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalCliente'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formCliente');
        myModal.show(modalToggle);
        $('#txtRut').val('');
        $('#txtPrimerNombre').val('');
        $('#txtSegundoNombre').val('');
        $('#txtApellidoPaterno').val('');
        $('#txtApellidoMaterno').val('');
        $('#txtCorreoElectronico').val('');
        $('#txtContraseña').val('');        
        $('#txtTelefono').val('');
        $('#txtRutEmpresa').val('');
        $('#txtNombreEmpresa').val('');
        $('#selectRol').val('');
    }
    // Eliminar Cliente
    function deleteCliente(rut_cliente) {
            var rut_cliente = rut_cliente;
            var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
            var ajaxUrl = v_url_delete_cliente + "?txtRut=" + rut_cliente;
            request.open("GET", ajaxUrl, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.send(ajaxUrl);
            request.onreadystatechange = function () {
                window.location.reload()
            }
        }
</script>
{% endblock %}