{% extends 'base-dashboard.html' %}
{% block content %}


<div class="modal fade" id="modalUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalUsuariosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUsuariosLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url "insertUsuario" %}" id="formUsuario" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <!-- <input type="hidden" name="idModulo" id="idModulo"> -->
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="rutUsuario" class="form-label">RUT</label>
                            <input class="form-control" type="text" name="txtRut" id="txtRut" required>
                        </div>
                        <div class="col-12">
                            <label for="primerNombreUsuario" class="form-label">Primer Nombre</label>
                            <input class="form-control" type="text" name="txtPrimerNombre" id="txtPrimerNombre"required>
                        </div>
                        <div class="col-12">
                            <label for="segundoNombreUsuario" class="form-label">Segundo Nombre</label>
                            <input class="form-control" type="text" name="txtSegundoNombre" id="txtSegundoNombre"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="apellidoPaternoUsuario" class="form-label">Apellido Paterno</label>
                            <input class="form-control" type="text" name="txtApellidoPaterno" id="txtApellidoPaterno"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="apellidoMaternoUsuario" class="form-label">Apellido Materno</label>
                            <input class="form-control" type="text" name="txtApellidoMaterno" id="txtApellidoMaterno"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="correoElectronicoUsuario" class="form-label">Correo Electrónico</label>
                            <input class="form-control" type="email" name="txtCorreoElectronico" id="txtCorreoElectronico"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="telefonoUsuario" class="form-label">Teléfono Contacto</label>
                            <input class="form-control" type="number" name="txtTelefono" id="txtTelefono"
                                required>
                        </div>
                        <div class="col-12">
                            <label for="direccionUsuario" class="form-label">Dirección Domicilio</label>
                            <input class="form-control" type="text" name="txtDireccion" id="txtDireccion"
                                required>
                        </div>
                        <div class="col-12">
                            <select class="form-select" name="selectRol" id="selectRol">
                                <option value="0" selected>Selecciona Rol</option>
                                {% for x in roles %}
                                <option value="{{ x.id_rol | safe }}">{{ x.nombre_rol }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="invalid-feedback">Rut del Usuario Requerido</div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" onclick="fntConfirmEditInsert()">Enviar</button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-secondary w-100"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %} </li>
            </ol>   
        </nav>
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-5 fst-italic fw-bolder">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        onclick="openModal()">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="">
                <table class="table table-bordered table-striped v_table_usuarios my-3" style="width: 100%;" id="v_table_usuarios">
                    <thead class="table-dark">
                        <tr>
                            <th>Rut</th>
                            <th>Primer Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Direccion</th>
                            <th>Rol</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in usuarios %}
                        <tr>
                            <td>{{ i.rut_usuario }}</td>
                            <td>{{ i.primer_nombre }}</td>
                            <td>{{ i.apellido_paterno }}</td>
                            <td>{{ i.direccion }}</td>
                            <td>{{ i.nombre_rol }}</td>
                            <td>{{ i.status_usuario | safe}}</td>
                            <td>{{ i.options | safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-dark">
                        <tr>
                            <th>Rut</th>
                            <th>Primer Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Direccion</th>
                            <th>Status</th>
                            <th>Rol</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllUsuarios' %}";
    let v_url_usuario = "{% url 'getUser' %}";
    let v_url_enable_usuario = "{% url 'enableUser' %}";
    let v_url_disable_usuario = "{% url 'disableUser' %}";
    let v_url_delete_usuario = "{% url 'deleteUser' %}";
</script>
<script>
    let tableUsuarios;
    $(document).ready(function () {
        tableUsuarios = $('#v_table_usuarios').DataTable({
            pagingType: "full_numbers",
            "order": [
                [0, "desc"]
            ]
        });
    });

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalUsuario'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formUsuario');
        myModal.show(modalToggle);
        $('#txtRut').val('');
        $('#txtPrimerNombre').val('');
        $('#txtSegundoNombre').val('');
        $('#txtApellidoPaterno').val('');
        $('#txtApellidoMaterno').val('');
        $('#txtCorreoElectronico').val('');
        $('#txtContraseña').val('');
        $('#txtTelefono').val('');
        $('#txtDireccion').val('');
        $('#selectRol').val('');
        $('#modalUsuario').show();
    } 

    function fntEditUsuario(rut_usuario) {
        var rut_usuario = rut_usuario;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_usuario + "?idUsuario=" + rut_usuario;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);

            $('#txtRut').val(objData.rut_usuario);
            $('#txtPrimerNombre').val(objData.primer_nombre);
            $('#txtSegundoNombre').val(objData.segundo_nombre);
            $('#txtApellidoPaterno').val(objData.apellido_paterno);
            $('#txtApellidoMaterno').val(objData.apellido_materno);
            $('#txtCorreoElectronico').val(objData.correo);
            $('#txtContraseña').val(objData.password_usuario);
            $('#txtTelefono').val(objData.telefono);
            $('#txtDireccion').val(objData.direccion);
            $('#selectRol option[value="'+objData.id_rol+'"]').prop('selected', true);
        }
    }

    function enableUsuario(rut_usuario) {
        var rut_usuario = rut_usuario;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_enable_usuario + "?idUsuario=" + rut_usuario;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Usuario Activado!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function disableUsuario(rut_usuario) {
        var rut_usuario = rut_usuario;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_disable_usuario + "?idUsuario=" + rut_usuario;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Usuario Desactivado!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDeleteUsuario(rut_usuario) {
        var rut_usuario = rut_usuario;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_delete_usuario + "?idUsuario=" + rut_usuario;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(rut_usuario){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteUsuario(rut_usuario);
                Swal.fire(
                'Eliminado!',
                'Usuario eliminado exitosamente',
                'success'
                )
            }
        })
    }

    function fntConfirmEditInsert(){
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Proceso realizado exitosamente!',
            showConfirmButton: false,
            timer: 1700
        })
    }
</script>

{% endblock%}