{% extends 'base-dashboard.html' %}
{% block content %}
<style>
    @media screen and (max-width: 570px) {
        #addAsesoria{position: fixed !important; bottom: 0 !important; right: 0 !important; width: 100% !important;
            border-radius: 0 !important; padding: 17px 10px !important; z-index: 100;
            box-shadow: 0px 10px 5px rgb(200, 200, 200), 0px -3px 3px rgb(120, 120, 120);}
        body{overflow-x: hidden !important;}
    }
</style>
<div class="modal fade" id="modalAsesoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalAsesoriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 13px; padding: 15px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAsesoriaLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'insertAsesoria' %}" id="formAsesoria" class="needs-validation" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="idAsesoria" id="idAsesoria">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="txtNombreAsesoria" name="txtNombreAsesoria" placeholder="name@example.com" required>
                                <label for="floatingInput">Nombre Asesoría</label>
                            </div>
                            <div class="invalid-feedback">
                                Nombre Asesoría Requerido
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <textarea type="text" class="form-control" id="txtDescripcionAsesoria" name="txtDescripcionAsesoria" style="height: 150px;" placeholder="name@example.com" required></textarea>
                                <label for="floatingInput">Descripción Asesoría</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mt-2">
                                <input type="number" class="form-control" id="txtTotalAsesoria" name="txtTotalAsesoria" placeholder="name@example.com" required>
                                <label for="floatingInput">Total Asesoría</label>
                            </div>
                            <div class="invalid-feedback">
                                Total Asesoría Requerido
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <button type="submit" class="btn btn-primary w-100" onclick="fntConfirmEditInsert()" 
                                    style="background: linear-gradient(to right, deepskyblue, blueviolet); 
                                    border: none; color: white; border-radius: 50px; padding: 20px 10px;">
                                    Guardar Cambios
                                </button>
                            </div>
                            <div class="my-2"></div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-100" style="border-radius: 50px; padding: 10px;"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="col-12">
    <div class="my-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                <li class="breadcrumb-item active" aria-current="page">{% if title %}{{ breadcrumb }}{% endif %}</li>
            </ol>
        </nav>
        
        <hr>
        <div class="">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <span class="fs-3">{% if title %}{{ title }}{% endif %}</span>
                    </li>
                </ul>
                <div class="d-flex">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" style="background: linear-gradient(to right, deepskyblue, blueviolet);
                        border: none; color: white;"
                        onclick="openModal()" id="addAsesoria">{% if button_add %}{{button_add}}{% endif %}
                    </button>
                </div>
            </nav>
            <p class="text-muted">{% if subtitle %}{{ subtitle }}{% endif %}</p>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover v_table_Asesorias my-3" style="width: 100%;" id="v_table_Asesorias">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th style="width: 60px !important;">Profesional</th>
                            <th>Descripción</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    let v_url = "{% url 'getAllAsesoria' %}";
    let v_url_asesoria = "{% url 'getAsesoria' %}";
    let v_url_enable_asesoria = "{% url 'enableAsesoria' %}";
    let v_url_disable_asesoria = "{% url 'disableAsesoria' %}";
    let v_url_delete_Asesoria = "{% url 'deleteAsesoria' %}";
</script>
<script>
    let tableAsesoria;
    $(document).ready(function () {
        tableAsesoria = $('#v_table_Asesorias').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            pagingType: "full_numbers",
            "ajax": {
                "url": v_url,
                "dataSrc": ""
            },
            "columns": [{
                "data": "nombre_asesoria"
            }, {
                "data": "usuarios"
            }, {
                "data": "descripcion_asesoria"
            }, {
                "data": "total_asesoria"
            }, {
                "data": "status_asesoria",
            }, { 
                "data": "options"
            }],
            "order": [
                [0, "desc"]
            ]
        });
    });

    function fntEditAsesoria (id_asesoria){
        var id_asesoria = id_asesoria;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_asesoria + "?idAsesoria=" + id_asesoria;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            let objData = JSON.parse(request.responseText);
            document.getElementById('modalAsesoriaLabel').innerHTML = '<h5>Actualizar: '+ objData[0].nombre_asesoria; +'</h5>';
            $('#idAsesoria').val(objData[0].id_asesoria);
            $('#txtNombreAsesoria').val(objData[0].nombre_asesoria);
            $('#txtDescripcionAsesoria').val(objData[0].descripcion_asesoria);
            $('#txtTotalAsesoria').val(objData[0].total_asesoria);
            $('#modalAsesoria').show();
        }
    }

    function fntEnableAsesoria(id_asesoria){
        var id_asesoria = id_asesoria;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_enable_asesoria + "?idAsesoria=" + id_asesoria;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Asesoría Activada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function fntDisableAsesoria(id_asesoria){
        var id_asesoria = id_asesoria;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_disable_asesoria + "?idAsesoria=" + id_asesoria;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Asesoría Desactivada!',
                showConfirmButton: false,
                timer: 1700
            })
        }
    }

    function openModal() {
        var myModal = new bootstrap.Modal(document.getElementById('modalAsesoria'), {
            keyboard: false
        })
        var a = document.querySelector('.needs-validation').reset();
        var modalToggle = document.getElementById('formAsesoria');
        myModal.show(modalToggle);
        document.getElementById('modalAsesoriaLabel').innerHTML = '<h5>Añadir nueva asesoría</h5>';
        $('#idAsesoria').val('');
        $('#txtNombreAsesoria').val('');
        $('#txtDescripcionAsesoria').val('');
        $('#txtTotalAsesoria').val('');
        $('#modalAsesoria').show();
    }

    function fntDeleteAsesoria(id_asesoria) {
        var id_asesoria = id_asesoria;
        var request = (window.XMLHttpRequest) ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
        var ajaxUrl = v_url_delete_Asesoria + "?idAsesoria=" + id_asesoria;
        request.open("GET", ajaxUrl, true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(ajaxUrl);
        request.onreadystatechange = function () {
            window.location.reload()
        }
    }

    function fntConfirmDelete(id_asesoria){
        Swal.fire({
            title: 'Está seguro que desea eliminar este elemento?',
            text: "No podrás deshacer los cambios!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminarlo!',
            cancelButtonText: 'Cancelar'
            }).then((result) => {
            if (result.isConfirmed) {
                fntDeleteAsesoria(id_asesoria);
                Swal.fire(
                'Eliminado!',
                'Tu elemento ha sido eliminado exitosamente',
                'success'
                )
            }
        })
    }

    function fntConfirmEditInsert(){
        const Toast = Swal.mixin({
            toast: true,
            position: 'top',
            showConfirmButton: false,
            timer: 1900,
            timerProgressBar: true,
            didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'Proceso finalizado exitosamente!'
        })
    }
</script>
{% endblock %}