<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title }}</title>
    <link rel="stylesheet" href="{% static 'adm/vendor/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'adm/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'adm/vendor/datatable/css/datatable.css' %}">
    <link rel="stylesheet" href="{% static 'adm/vendor/boxicons/css/boxicons.css'%}">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid mx-5">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        {% if request.session.usuario.id_rol == 1%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Administrador
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'getModulosPage' %}">Módulos</a></li>
                                <li><a class="dropdown-item" href="{% url 'getRolesPage' %}">Roles</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'getUsuariosPage' %}">Usuarios</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'getUsuariosPage' %}">Usuarios</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <div class="">
                                <a class="text-warning nav-link" href="{% url 'logoutAdm' %}">Cerrar Sesión</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid bg-light">
        <section class="row mx-5">
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <footer class="container-fluid bg-light py-5">
        <section class="row mx-5">
            <div class="col-12">
                <hr>
                <div class="d-flex align-items-center flex-column bd-highlight py-5 px-5">
                    <div>
                        <p class="text-muted fw-bolder">No más accidentes</p>
                    </div>
                    <div>
                        <p class="text-muted text fw-bolder">Derechos reservados. Copyright</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="{% static 'adm/vendor/jquery/js/jquery.js' %}"></script>
    <script src="{% static 'adm/vendor/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'adm/vendor/datatable/js/datatable.js' %}"></script>
    <script src="{% static 'adm/vendor/datatable/js/datatable.bootstrap.js' %}"></script>
    <script src="{% static 'adm/js/main.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</body>

</html>